resolution-mode=highest

# super strict mode
auto-install-peers=false
resolve-peers-from-workspace-root=false

# default is true, we do this to try to have more isolation
# since we test with incompatible sets of TS types.
shared-workspace-lockfile=false
