.nested-template {
  padding: 20px;
  min-height: 224px;
  background: $black;
  border: 1px solid #333;
  transition: all 120ms ease-in;
  -webkit-touch-callout: default;

  code {
    padding-bottom: 20px;
  }

  & .nested-template {
    min-height: 142px;
    & .nested-template {
      min-height: 50px;
    }
  }
}
