.window-pane {
  line-height: 20px;
  vertical-align: middle;
  -webkit-touch-callout: none;

  .title-token {
    display: inline-block;
    cursor: pointer;
    line-height: 22px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 120ms ease-in-out;

    &.active {
      padding: 2px 10px;
      background: $white;
      color: $black;
    }
  }
}
