.window-pane {
  position: relative;
  margin: 0 auto;

  transition: all 250ms;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
  }

  header {
    position: relative;
    background: $black;
    text-align: center;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border-bottom: 1px solid #444;

    .button {
      transition: all 0.2s;
      position: absolute;
      border-radius: 6px;
      width: 12px;
      height: 12px;
      top: 14px;
    }

    .close {
      background-color: $red;
      left: 10px;
    }

    .minimize {
      background-color: $yellow;
      left: 30px;
    }

    .maximize {
      background-color: $green;
      left: 50px;
    }
  }

  & > div {
    min-height: 250px;
    background: $black;
    color: #fff;
    padding: 20px;
    overflow: auto;

    .ps1 {
      color: #9b9b9b;
    }

    code {
      font-size: 1.1em;
      display: block;
    }

    .ps1 {
      color: #aaaaaa;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    font-family: OfficeCodePro, Consolas, Inconsolata, monspace;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: $primary-color;
    color: $white;
    cursor: pointer;
  }

  hr {
    border: 0;
    border-top: 1px solid #666;
    margin: 1rem 0;
  }
}

@media (max-width: 525px) {
  .window-pane {
    font-size: 0.9rem;
  }
  .window-pane.has-title .button {
    opacity: 0;
  }
}

@media (max-width: 400px) {
  .window-pane {
    font-size: 0.8rem;
  }
}
