code {
  font-family: OfficeCodePro;
  font-size: 14px;

  .helper {
    color: $green;
  }

  .string {
    color: $red;
  }

  .literal {
    color: $blue;
  }

  .attribute {
    color: $pink;
  }
}
