code {
  font-family: OfficeCodePro;
  font-size: 15px;

  .text-field, .boolean-field {
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: 4px;
    input {
      max-width: initial;
      border-radius: 4px;
      height: 24px;
    }
  }

  &.inline {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0 4px;
    background-color: #F5F5F5;
  }

  .helper {
    &, input { color: $green; }
  }

  .string {
    &, input { color: $red; }
  }

  .literal {
    &, input { color: $blue; }
  }

  .attribute {
    &, input { color: $pink; }
  }
}
