<div class={{concat 'window-pane' (if @title ' has-title')}}>
  <header>
    <span class='close button'></span>
    <span class='minimize button'></span>
    <span class='maximize button'></span>
    {{@title}}
  </header>
  <div>
    {{yield}}
  </div>
</div>