{{title "ember-document-title" replace=true}}
<header>
  <h1>ember-document-title</h1><nav>
    <a href="#docs">Docs</a>
    <a href="https://github.com/paddle8/ember-document-title" target="__blank">GitHub</a>
  </nav>
</header>

<div class="hero">
  <p>&lt;title&gt; management for your <img class="ember-logo" alt="ember" src="assets/images/ember-logo.png" /> app</p>
</div>

<section>
  <h2>Installation</h2>
  {{#console-window class="console"}}
    <span class="ps1">$ </span>ember install ember-document-title
  {{/console-window}}
</section>

<section>
  <h2>Usage</h2>
  <p>To add autoresizing to an \{{input}}, set autoresize to true:</p>
</section>
