#index {
  .hero {
    position: relative;
    font-size: 42px;
    background: linear-gradient($ember, $accent-color);
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    height: 60vh;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      line-height: 1.7em;
      max-width: 500px;
      text-align: center;
    }

    .ember-logo {
      height: 50px;
      position: relative;
      top: 4px;
    }

    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    }
  }

  input {
    font-family: Lato, Helvetica, 'Helvetica Neue', Arial;
    font-size: 16px;
    border: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #333;
    border-radius: 0;
    transition: all 0.1s ease-in-out;

    &:focus {
      outline: none;
      color: $ember;
      border-bottom: 2px solid $ember;
    }
  }
}

@media (max-width: 600px) {
  #index .hero {
    font-size: 32px;
    p {
      max-width: 360px;
    }
    .ember-logo {
      height: 36px;
    }
  }
}

@media screen and (max-height: 400px) {
  #index .hero {
    font-size: 32px;
    p {
      max-width: 360px;
    }
    .ember-logo {
      height: 36px;
    }
  }
}
