name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: wyvox/action-setup-pnpm@v3
      - name: Lint
        run: pnpm lint

  test:
    name: Tests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    needs: lint

    strategy:
      matrix:
        os: [ubuntu-latest]
        browser: [chrome, firefox]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: wyvox/action-setup-pnpm@v3
      - name: Test
        run: pnpm test:ember --launch ${{ matrix.browser }}
        working-directory: test-app

  floating-dependencies:
    name: Floating Dependencies
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    needs: lint

    strategy:
      matrix:
        os: [ubuntu-latest]
        browser: [chrome, firefox]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: wyvox/action-setup-pnpm@v3
        with:
          pnpm-args: '--no-lockfile'
      - name: Test
        run: pnpm test:ember --launch ${{ matrix.browser }}
        working-directory: test-app

  typecheck:
    name: '${{ matrix.typescript-scenario }}'
    runs-on: ubuntu-latest
    timeout-minutes: 2
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        typescript-scenario:
          - typescript@5.0
          - typescript@5.1
          - typescript@5.2
          - typescript@5.3
          - typescript@next

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
      - run: pnpm build
      - run: pnpm i -f # just in case
      - name: 'Change TS to ${{ matrix.typescript-scenario }}'
        working-directory: ./test-types
        run: 'pnpm add --save-dev ${{ matrix.typescript-scenario}}'

      - name: 'Type checking'
        working-directory: ./test-types
        run: |
          pnpm tsc -v
          pnpm tsc --noEmit

  try-scenarios:
    name: Tests - ${{ matrix.ember-try-scenario }}
    runs-on: ubuntu-latest
    timeout-minutes: 20
    continue-on-error: ${{ matrix.allow-failure }}
    needs: test

    strategy:
      fail-fast: true
      matrix:
        ember-try-scenario:
          [
            ember-lts-3.28,
            ember-lts-4.4,
            ember-lts-4.12,
            ember-release,
            ember-beta,
            ember-classic,
            embroider-safe,
            embroider-optimized,
          ]
        allow-failure: [false]
        include:
          - ember-try-scenario: ember-canary
            allow-failure: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: wyvox/action-setup-pnpm@v3
      - name: Test
        env:
          EMBER_TRY_SCENARIO: ${{ matrix.ember-try-scenario }}
        run: node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO
        working-directory: test-app

  docs:
    name: Docs app
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: wyvox/action-setup-pnpm@v3
      - name: Test
        run: pnpm test:ember
        working-directory: docs
